

<div id="main-content-about" class="flex-col  justify-center items-center w-full text-white">
    <div class="flex flex-col  font-sans max-w-xl mx-auto p-5 items-center ">
        <h1 class="text-4xl mb-5">About DevNexus</h1>
        <p class="mb-4">
            DEV is a community of software developers getting together to
            help one another out. The software industry relies on
            collaboration and networked learning. We provide a place for
            that to happen.
        </p>

        <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio enim, maiores fuga
            expedita eum natus mollitia dolorem libero a eos cumque ipsam temporibus tempora.
            Laudantium delectus deleniti dicta quos voluptatum, pariatur saepe ullam facilis
            exercitationem beatae consequatur ea incidunt adipisci cupiditate reiciendis vel aliquam
            sint nisi officia, sit maiores! Reiciendis aut, minima veniam repellendus eos neque
            labore voluptas accusantium debitis molestiae quidem perspiciatis ullam ex ducimus vel
            reprehenderit doloremque atque dolorem quis! Quis libero necessitatibus quaerat sit
            dolore, quos voluptatibus reiciendis suscipit, rem minus explicabo sint ex aliquid
            blanditiis dolores harum laborum quidem dolor ducimus, ipsum assumenda amet id! Ab.
        </p>


        <h2 class="text-3xl mt-8 mb-5">Leadership</h2>
        <img src="../images/leaders.jpg" alt="DEV Leadership Team" class="rounded-lg mt-5 w-full h-auto" />
    </div>
    <!-- footer section -->
    <footer class="bg-gray-800 p-5 text-center mt-8  w-full">

        <div class="mb-4">
            DEVNEXUS — A constructive and inclusive social network
            for software developers. With you every step of your journey.
        </div>

        <div class="mb-4">

        </div>
        <div class="text-gray-400 text-sm">


            DEVNEXUS ©
            2024.
        </div>
    </footer>
</div>