
<div id="main-content-dashboard" class="flex flex-col w-full justify-between h-[80vh]">
    <!-- Main Content -->
    <div class="flex flex-1 p-5 flex-col justify-normal">
        <!-- analytics -->
        <div
            class="flex    w-full mb-5 gap-3 flex-col lg:flex-row md:flex-row xl:flex-row">
            <div
                class="w-full text-green-500 bg-white dark:bg-gray-800 h-24   mb-4 sm:mb-0 rounded-lg p-5 flex items-center justify-center transition-transform shadow-lg">
                12<br />Total post reactions
            </div>
            <div
                class="text-green-500 bg-white dark:bg-gray-800 h-24 w-full  mb-4 sm:mb-0 rounded-lg p-5 flex items-center justify-center     transition-transform ease-in duration-300 shadow-lg">
                4<br />Total post comments
            </div>
            <div
                class="text-green-500 bg-white dark:bg-gray-800 h-24 w-full  rounded-lg p-5 flex items-center justify-center  shadow-lg ">
                500<br />Total post views
            </div>
        </div>
        <div class="flex">
            <!-- left sidebar -->
            <div
                class="w-full sm:w-1/4  rounded-md shadow-lg relative overflow-hidden hidden xl:block">
                <span class="w-64 h-80"></span> 
                <ul class="list-none p-2 bg-white dark:bg-gray-800 rounded-lg relative">
                    <li class="mb-2">
                        <a href="#" class="text-green-500 hover:text-pink-500">Posts</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-green-500 hover:text-pink-500">Followers</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-green-500 hover:text-pink-500">Following tags</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-green-500 hover:text-pink-500">Following users</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-green-500 hover:text-pink-500">Following
                            organizations</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-green-500 hover:text-pink-500">Following
                            podcasts</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-green-500 hover:text-pink-500">Analytics</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-green-500 hover:text-pink-500">Hidden tags</a>
                    </li>
                    <button
                        class="bg-green-500 text-black py-2 px-4 mt-4 w-full rounded-lg hover:bg-pink-500 hover:text-white transition-colors">
                        Upload a video
                    </button>
                </ul>
            </div>
            <!-- Posts -->
            <div
                class="space-y-6 xl:pl-6 xl:pr-6 lg:pl-6 lg:pr-6 w-full h-23 flex flex-1 flex-col justify-start ">
                <article
                    class="bg-white dark:bg-gray-800 p-5 rounded-lg  transition duration-300 flex  space-x-2 justify-between items-center">
                    <h2 class="text-lg font-bold ">
                        5 Critical Mistakes to Avoid When Starting a New
                        React Project in 2024: A Beginner Guide 🚀
                    </h2>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </article>
                <article
                    class="bg-white dark:bg-gray-800 p-5 rounded-lg  transition duration-300 flex  space-x-2 justify-between items-center">
                    <h2 class="text-lg font-bold ">
                        9 Interesting Open Source Projects You Should Explore Right Now 🎉
                    </h2>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </article>
                <article
                    class="bg-white dark:bg-gray-800 p-5 rounded-lg  transition duration-300 flex  space-x-2 justify-between items-center">
                    <h2 class="text-lg font-bold ">
                        Data Structures: Creating Custom Node Classes
                    </h2>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </article>


                <button
                    class="hidden min-w-3 bg-green-500 text-black py-2 px-5 rounded-lg hover:bg-pink-500 transition">
                    Read More
                </button>
            </div>
        </div>
    </div>

</div>